extends layout
block content
    #gaugesContainer
        div.gaugeContainer
            #gauge25
            #outside25.outsideGauge
            .gasMask
        div.gaugeContainer
            #gauge10
            #outside10.outsideGauge
            .gasMask
    #progressBarContainer
    #messagesContainer
block append headStyleSheets
    style.
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            margin: 0;
            background: url("/backgrounds/office1.jpg") no-repeat #333333;
            background-position: left bottom;
            background-size: cover;
        }

        #messagesContainer {
            position: absolute;
            top: 10px;
            right: 10px;
            color: #cccccc;
            padding: 3px;
            opacity: 0.8;
        }

        #progressBarContainer {
            position: absolute;
            top: 40px;
            right: 10px;
            height: 150px;
            width: 150px;
            opacity: 0.8;
        }

        #messagesContainer.error {
            background-color: #ff0000;
            color: #000000
        }

        #gaugesContainer {
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .gaugeContainer {
            position: relative;
        }

        body.horizontal .gaugeContainer {
            float: left;
        }

        body.vertical .gaugeContainer {
            margin: 0 auto;
        }

        .gasMask {
            position: absolute;
            background: center center no-repeat url("/backgrounds/gas-mask.png");
            background-size: cover;
            bottom: 28%;
            left: 51%;
            transform: translateX(-50%);
        }

        .outsideGauge {
            position: absolute;
            left: 0;
            bottom: 0;
        }

block append bodyBottom
    script(type="text/javascript" src="//www.gstatic.com/charts/loader.js")
    script(src=assetFingerprint('/js/pmCharts.js') type='text/javascript')
    script(src='/libs/progressbar.js-1.0.1/progressbar.min.js' type='text/javascript')
    script.
        var pageLoadedTimestamp = (new Date()).getTime(),
            pollingInterval = #{pollingInterval},
            disableAnimations = #{!!disableAnimations};