doctype html
html
    head
        meta(http-equiv="x-ua-compatible" content="IE=Edge")
        meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no")
        block meta
        block title
            title= title
        link(rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png")
        link(rel="manifest" href="/favicons/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(rel='stylesheet', href=assetFingerprint('/css/common.css'))
        block headStyleSheets
    body(class=(htmlBodyClass ? (htmlBodyClass.join ? htmlBodyClass.join(' ') : htmlBodyClass) : null))
        block content
        script(type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js")
        script(src=assetFingerprint('/js/common.js') type='text/javascript')
        block bodyBottom